.infoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.infoList__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}
.infoList__text {
    font-family: 'Open Sans', sans-serif;
    min-width: 100px;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    opacity: .8;
}
.infoList__personal {
    margin: 0;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    opacity: .8;
    word-wrap: break-word;
}

@media screen and (max-width: 460px) {
    .infoList__item {
        display: flex;
        justify-content: flex-start;
    }
    .infoList__personal {

        text-align: start;
        max-width: 230px;
    }
    .infoList {
        margin-right: 0;
    }
    .infoList__personal {
        font-size: 14px;
    }
}
@media screen and (max-width: 460px) {
    .infoList__text {
        margin-right: 0;
    }
}