.skill {
    position: relative;
    margin-bottom: 30px;
    flex-grow: 1;
    margin-right: 20px;
}

.skill__title {
    display: block;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}




.bubble__wrapper {
    position: relative;
}
