.skill {
    position: relative;
    margin-bottom: 30px;
    flex-grow: 1;
    margin-right: 20px;
}

.skill__title {
    display: block;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.skill__description {
    position: absolute;
    right: 20px;
    top: -5px;
    height: 32px;
    width: 46px;
    z-index: 10;
    color: #ffb400;
    border: 1px solid #ffb400;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 31px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.skill__description:after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 30px;
    right: 13px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #ffb400;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
}

.progress {
    min-width: 250px;
    height: 1px;
    background: linear-gradient(to right, #ffb400 85%, #555 15%);
}

.bubble__wrapper {
    position: relative;
}
