
.header {
    position: fixed;
    right: 200px;
    top: 50px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header .header__container {
    justify-content: flex-end;
}
