.contacts {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ff141;
}

.contacts__container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    border: 1px solid black;
}

.title {
    font-size: 28px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: aqua;
    text-align: center;
}

.contacts__btn {
    background-color: #1652F0;
    border: 1px solid #1652F0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.15;
    overflow: visible;
    padding: 10px 40px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    margin-bottom: 5px;
}

.contacts__btn:focus {
    outline: 0;
}

.contacts__btn:hover {
    background-color: #0A46E4;
    border-color: #0A46E4;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    width: 280px;
    margin-bottom: 20px;
}