.contacts {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #222;
    padding-top: 50px;
}

.contacts__container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.contacts__btn {
    box-shadow: none !important;
    border-radius: 26px;
    font-weight: 500;
    height: 46px;
    line-height: 46px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 33px;
    outline: none !important;
    overflow: hidden;
    display: inline-block;
    position: relative;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
    border: 0;
    max-width: 215px;
    background-color: #ffb400;
    transition: 0.5s linear;
}

.contacts__btn:focus {
    outline: 0;
}

.contacts__btn:hover {
    background-color: #555;
}

.form {
    display: flex;
    flex-direction: column;

}

.contacts__suggestion {
    max-width: 600px;
    margin: 0 0 24px;
    font-size: 16px;
    line-height: 32px;
}

.info__form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__inputs__wrapper {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.form__content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
