.main {
    height: 100vh;
    background-color: pink;
}
.main__container {
}
.text {
    width: 300px;
    background-color: white;
    flex-grow: 1;
}

.photo {
    flex-grow: 1;
    width: 300px;
    height: 400px;
    background-color: cyan;
}
