.header__nav {
    display: flex;
}

.header__nav_list {
    min-width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;

}
.header__nav__link {
    font-size: 20px;
}
.header__nav__link:hover {
    color: #ffb400;
}
.header__nav__list_item:last-child {
    margin-right: 15px;
}