.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills__container {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.skill__wrapper {
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}
.title {
    margin-bottom: 50px;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
}

