.skills {
    min-height: 100vh;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills__container {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    border: 1px solid black;
}
.skill__wrapper {
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}
.title {
    font-size: 28px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: aqua;
    text-align: center;
}

